/* General */ 
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: url('imagenes\ de\ pagina\ sena/LOGO.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between; /* Espacio entre el logo y el menú */
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

a {
    color: inherit; /* Usa el color del texto de su contenedor */
    text-decoration: none; /* Elimina el subrayado */
}

a:visited {
    color: inherit; /* Mantén el color igual al del enlace normal */
    text-decoration: none; /* También quita el subrayado para enlaces visitados */
}

header h1 {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 0;
    margin: 0;
    justify-content: flex-end; /* Alinea el menú a la derecha */
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

/* Estilos para Categorías */
.categories {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    padding: 15px 100%;
    background-color: #333;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: #000000;

}

.categories button {
    border-radius: 5px ;
    padding: 2px 10px ;
    margin: 0px 20px;
    color: #000000;
    border:none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

}

.categories button:hover {
    background-color: #55555548;
}






---------------------------------------------------



/* Estilo para la lista de navegación en el encabezado */
header nav ul {
    list-style: none; /* Elimina los puntos de la lista */
    display: flex; /* Utiliza flexbox para alinear los elementos de la lista */
    gap: 10px;
    margin: 0; /* Elimina el margen de la lista */
    padding: 0; /* Elimina el relleno de la lista */
}

/* Estilo para los elementos de la lista de navegación en el encabezado */
header nav ul li {
    margin-left: 20px; /* Añade un margen izquierdo de 20px */
}

/* Estilo para los enlaces en la lista de navegación en el encabezado */
header nav ul li a {
    color: #fff; /* Color del texto de los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */

}