/* General */ 
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: url("https://i.ibb.co/BnshjDb/LOGO.jpg") no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between; /* Espacio entre el logo y el menú */
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

a {
    color: inherit; /* Usa el color del texto de su contenedor */
    text-decoration: none; /* Elimina el subrayado */
}

a:visited {

    text-decoration: none; /* También quita el subrayado para enlaces visitados */
}

header h1 {
    color: white;
}

@media (min-width: 704.1px){
nav ul {
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 0;
    margin: 0;
    justify-content: flex-end; /* Alinea el menú a la derecha */
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover { 
    background-color: #000000; /* Cambia el fondo al pasar el cursor */
    border-radius: 2px;
}
}

@media (max-width: 704px){
    #header{
        display:flex;
        flex-wrap: wrap;
    }

    ul {
        list-style-type:none;
        margin:0;
        padding:0 px;
        position: absolute;
    
    }
    
    li {
        display:inline-block;
        float: left;
        margin-right: 1px;
    }
    
    /*Estilo para los links*/
    li a {
        display:block;
        min-width:140px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        font-family:Helvetica, Arial, sans-serif;
        color: #fff;
        background: #444;
        text-decoration: none;
    }
    
    
    /*Ocultar enlaces desplegables hasta que se necesiten*/
    li ul {
        display: none;
    }
    
    /*Hacer vínculos desplegables verticales*/
    li ul li {
        display: block;
        float: none;
    }
    
    li ul li a {
        width: auto;
        min-width: 100px;
        padding: 0 19px;
    }
    
    /*Estilos boton desplegar menu*/
    .show-menu {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight:bold;
        text-decoration: none;
        color: #fff;
        background: #131718;
        text-align: center;
        padding: 10px 10px;
        border-radius: 3px;
    }
}

.show-menu{
    display: none;
}

input[type=checkbox]{
    display: none;
}

/*Mostrar menú cuando se marca la casilla de verificación invisible*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

/*Estilo responsivo ancho menor de 750px*/

@media screen and (max-width : 704px){

	/*Hacer que los vínculos desplegables aparezcan en línea*/
	ul {
		position: static;
		display: none;
	}
	/*Crear espacio vertical*/
	li {
		margin-bottom: 1px;
	}
	/*Todos los enlaces del menú de ancho completo*/
	ul li, li a {
		width: 100%;
	}

	.show-menu {
		display:flex;
		cursor:pointer;
	}
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-shadow: 
    -1px -1px 0 #ffffff,  
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff; /* Color del contorno */
}

/* Estilos para Carrito */
.cart-items {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cart-item p {
    margin: 0;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

.cart-total p {
    margin: 0;
}

.cart-total button {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-total button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
